

.c-cart{
    display: flex;
    justify-content: center;

    &__card{
        margin: 10px;
        color: white;

        &__button{
            width: 33%;
            margin: 10px;
        }
    }

    &__full{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 50%;
        margin: 25px 25%;
        height: 250px;

        background-color: azure;
        box-shadow: 5px 10px rgb(223, 237, 237);
    }

    &__empty{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 50%;
        margin: 10% 25%;
        height: 250px;

        background-color: azure;
        box-shadow: 5px 10px rgb(223, 237, 237);
    }
}